body {
  background-color: #f4f4d5;
}

.container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.switch-container {
  display: flex !important;
  align-items: center !important;
  margin-top: 16px !important;
}

.text-container {
  margin-top: 24px !important;
}

.before-switch,
.after-switch {
  font-family: 'Poppins', sans-serif !important;
  background: -webkit-linear-gradient(rgba(200, 205, 105, 0.3), rgba(170, 180, 110, 0.3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px rgba(0, 0, 0, .3));
  transition: .3s;
}

.before-switch,
.before-switch-active {
  padding-right: 16px;
}

.after-switch,
.after-switch-active {
  padding-left: 16px;
}

.before-switch-active,
.after-switch-active {
  font-family: 'Poppins', sans-serif !important;
  background: -webkit-linear-gradient(#c8cd69, #aab46e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px rgba(0, 0, 0, .3));
  transition: .3s;
}

.MuiSwitch-switchBase .MuiSwitch-thumb {
  color: #c8cd69;
}

.MuiSwitch-switchBase + .MuiSwitch-track {
  background-color: #c8cd69;
}

.MuiSwitch-switchBase .MuiTouchRipple-root {
  color: #c8cd69;
}

.MuiSwitch-switchBase.Mui-checked .MuiSwitch-thumb {
  color: #c8cd69;
}

.MuiSwitch-switchBase.Mui-checked .MuiTouchRipple-root {
  color: #c8cd69;
}

.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #c8cd69 !important;
}

.box-pricing {
  padding-inline: 0;
  padding-block: 32px;
  border-radius: 16px;
  margin-bottom: 64px;
  border: 1px solid #c8cd69;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.16);

  @media screen and (max-width: 900px) {
    margin-inline: 32px;
  }

  @media screen and (max-width: 600px) {
    margin-bottom: 32px;
    margin-inline: 16px;
  }
}

.box-grid {
  width: fit-content;
}

.box-grid-item {
  text-align: center;
}

.pricing-text {
  font-family: 'Poppins', sans-serif !important;
  color: black;
  padding-bottom: 8px;
}

.info-text {
  text-align: center;
  margin-inline: 32px;
}


@media (max-width: 600px) {
  .switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-grid {
    padding-block: 0 !important;
  }

  .container {
    margin: 0 !important;
  }

  .before-switch,
  .after-switch {
    padding-block: 8px;
    padding-inline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .before-switch-active,
  .after-switch-active {
    padding-block: 8px;
    padding-inline: 0;
  }

  .info-text {
    margin-bottom: 32px;
  }
}