.nav {
  .img-bg {
    position: relative;
    overflow: hidden;
    background-color: #f4f4d5;


    .landing-image {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    .text-container {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      text-align: start;
      color: #fff;
      padding: 24px;
      margin-inline: min(4px, 16px);

      .text-container-content {
        padding: 32px;
        border-radius: 12px;
        background: rgba(0, 0, 0, 0.05);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(2.5px);

        .company-name {
          flex-grow: 1;
          font-size: calc(5vw + 5vh + 2vmin) !important;
          font-family: 'Qwitcher Grypen', cursive !important;
          background: -webkit-linear-gradient(#c8cd69, #aab46e);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(2px 2px rgba(0, 0, 0, 1));
        }

        .buttons-box {
          text-align: center;

          .nav-buttons {
            text-transform: capitalize !important;
            font-family: 'Poppins', sans-serif !important;
            text-shadow: 1px 1px #000;
            font-size: 16px !important;
            padding-inline: 16px !important;
            border-radius: 8px !important;
          }
        }
      }
    }
  }
}
