.bg {
  //background-color: #10451D !important;
  background: linear-gradient(90deg, rgba(16,69,29,1) 0%, rgba(21,93,39,1) 35%, rgba(21,93,39,1) 65%, rgba(16,69,29,1) 100%);
  box-shadow: 0 10px 50px 20px rgba(16, 69, 29, 0.2);
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-block: 8px;
}

.company-name {
  flex-grow: 1;
  font-size: 96px !important;
  font-family: 'Qwitcher Grypen', cursive !important;
  background: -webkit-linear-gradient(#6EDE8A, #208B3A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px #000);
}

.nav-buttons {
  text-transform: capitalize !important;
  font-family: 'Poppins', sans-serif !important;
  text-shadow: 1px 1px #000;
  font-size: 16px !important;
  padding-inline: 16px !important;
  border-radius: 8px !important;
}