.about-us {
  width: 100vw;
  min-height: 100vh;
  background-color: #f4f4d5;
  padding-bottom: 16px;

  @media screen and (max-width: 900px) {
    padding-bottom: 0;
  }
}

.img-grid {
  padding: 32px !important;
  background-color: #f4f4d5;
}

.img-shadow {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.about-us-text {
  padding-top: 96px;
  padding-bottom: 32px;
  font-size: 96px !important;
  font-family: 'Qwitcher Grypen', cursive !important;
  background: -webkit-linear-gradient(#c8cd69, #aab46e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 1));

  @media screen and (max-width: 900px) {
    padding-top: 64px;
    padding-bottom: 24px;
  }
}

.about-us-content {
  text-indent: 32px;
  padding-left: 32px;
  padding-bottom: 16px;
  font-family: 'Poppins', sans-serif !important;

  @media screen and (max-width: 900px) {
    padding-right: 32px;
  }
}